body {
  font-family: "Merriweather", serif;
  padding: 0;
  margin: 0;
}

p {
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

a {
  transition: 0.5s;
}

#header_area {
  border-top: 5px solid #3bafbe;
  border-bottom: 1px solid #dddddd;
  padding: 20px;
}

.social_area {
  width: 100%;
  clear: both;
  margin-bottom: 20px;
}

.social_area ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social_area ul li {
  display: inline-block;
  margin-right: 5px;
}

.social_area ul li a {
  display: block;
  width: 32px;
  height: 32px;
  background-color: #1f1f1f;
  color: #ffffff;
  text-align: center;
  border-radius: 50%;
  padding-top: 4px;
}

.social_area ul li a:hover {
  background-color: #ee802f;
}

/* search_area*/
.search_area {
  width: 100%;
  clear: both;
  text-align: right;
  margin-bottom: 20px;
}

.search_area input {
  background-color: #333333;
  color: #ffffff;
  border: 0 solid;
  border-radius: 8px;
  padding: 10px;
}

.search_area input[type="submit"] {
  background-color: #3bafbe;
  transition: 0.5s;
}

.search_area input[type="submit"]:hover {
  background-color: #ee802f;
}

/* main-menu */
#main_menu {
  text-align: right;
}
#main_menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#main_menu ul li {
  display: inline-block;
}
#main_menu ul li a {
  display: block;
  font-size: 14px;
  color: #999999;
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px 15px;
}
#main_menu ul li a:hover {
  color: #3bafbe;
}

#banner_area {
  margin-top: 50px;
}

/* banner_area with bxslider*/
#banner_area,
#intro,
#shout,
#service {
  border-bottom: 1px solid #dddddd;
  padding: 20px;
}
.bx-wrapper {
  -moz-box-shadow: 0 0 5px #fff;
  -webkit-box-shadow: 0 0 5px #ffffff;
  box-shadow: 0 0 5px #fff;
  border: 5px solid #fff;
  background: #fff;
}

.bx-wrapper .bx-pager {
  text-align: right;
  padding-right: 120px;
}

.bx-wrapper .bx-controls-direction a {
  display: none;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  width: 15px;
  height: 15px;
  border: 2px solid #3bafbe;
  border-radius: 50%;
  background-color: #ffffff;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #3bafbe;
}

.item {
  width: 80%;
}

.item img {
  margin-right: 70px;
}

.banner_text p,
.content p {
  color: #999999;

  margin-top: 20px;
}

.banner_text a {
  background-color: #3bafbe;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  padding: 5px;
  border-radius: 8px;
  margin-top: 20px;
}

.banner_text a:hover {
  background-color: #ee802f;
}

/* banner_area with bxslider*/
.content {
  width: 300px;
}

.content img {
  align-content: center;
}

.content h6 {
  margin-top: 20px;
}

.content a {
  background-color: #3bafbe;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  padding: 5px;
  border-radius: 8px;
  margin-top: 20px;
}

.content a:hover {
  background-color: #ee802f;
}

/* banner_area with bxslider*/
.blockquote {
  width: 70%;
}

.blockquote p {
  font-style: italic;
}

/* banner_area with bxslider*/

#card,
#card a {
  padding-top: 20px;
  text-decoration: none;
  transition: 0.5s;
}

#card:hover,
#card a:hover {
  text-decoration: none;
  background-color: #dddddd;
  border-radius: 8px;
}

.small_content {
  max-width: 100%;
}

.small_content h6 {
  color: #3bafbe;
  font-size: 12px;
  text-transform: capitalize;
}

.small_content p {
  color: #999999;
  font-size: 10px;
}
